---
import Layout from './Layout.astro';
import { SEO } from 'astro-seo';
const { title, excerpt} = Astro.props;
---

<SEO
  title={title}
  description={excerpt}
  canonical={`https://www.officetwo.com${Astro.url.pathname}`}
/>

<Layout pageTitle={title}>
  <article class="prose mx-auto px-4 py-8 mt-20">
    <p class="text-lg italic text-gray-600">{excerpt}</p>
    <slot />
  </article>
</Layout>